
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
